<section class="fondomain flex flex-col break-inside-avoid">
    <app-header></app-header>
    <main>
        <div class="flex justify-center">
            <form action="">
                <label for="search" class="sr-only">Busca un temtem</label>
                <input type="text" name="search" id="search" placeholder="Busca un temtem..." class="h-11 m-5 p-2 w-4/5 rounded-xl focus:w-full transition-width  transition-slowest ease-in-out">
            </form>    
        </div>
    </main>
</section>