.fondomain{
    background-color: rgba(217, 217, 217, .75);
}

/* .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
    margin-right: 15px;
} */

.opcion{
    padding-right: 0px !important;
}