<section class="fondomain flex flex-col break-inside-avoid">
    <app-header></app-header>
    <main>
        <div class="flex justify-center w-3/5 m-auto">

            <form (ngSubmit)="onSubmit()" class="flex">
                <label for="search" class="sr-only">Busca un temtem</label>
                <mat-select name="temtem" id="select" placeholder="Busca un temtem..." class="h-11 my-5 px-5 mx-auto p-2 rounded-s-xl bg-white shadow-md min-w-full" [(ngModel)]="selectTem">
                    <mat-option value="def" selected>
                        <ngx-mat-select-search placeholderLabel="Busca un temtem..." noEntriesFoundLabel="Ningún temtem encontrado" [formControl]="searchCtrl"></ngx-mat-select-search>
                    </mat-option>
                     <mat-option *ngFor="let temtem of temtems" value="{{temtem.number}}" class="opcion" (click)="showBtn()" >
                       <span class="inline-block w-[140px]"> {{temtem.name}} </span> <img src="{{temtem.portraitWikiUrl}}" alt="" class="inline-block float-right">
                    </mat-option>
                </mat-select>
                <button type="submit" id="searchBtn" class="bg-slate-300 p-2 rounded-e-xl my-auto h-11 shadow-md">Go!</button>
            </form>
        </div>

        <div id="temtemDiv" class="mt-16" #placeToRender >

        </div>
    </main>
</section>