<section class="fondomain flex flex-col break-inside-avoid h-[100vh] overflow-y-scroll scrollbar scrollbar-thumb-gray-400">
    <app-header></app-header>
    <main>
        <div class="flex justify-center w-3/5 m-auto" *ngIf="!hasPlayerWon">

            <form (ngSubmit)="onSubmit()" class="flex">
                <label for="search" class="sr-only">Search a Temtem</label>
                <mat-select name="temtem" id="select" placeholder="Search a Temtem.." class="h-11 my-5 px-5 mx-auto p-2 rounded-s-xl bg-white shadow-md min-w-full" [(ngModel)]="selectTem">
                    <mat-option value="def" selected>
                        <ngx-mat-select-search placeholderLabel="Search a Temtem..." noEntriesFoundLabel="No temtem found" [formControl]="searchCtrl"></ngx-mat-select-search>
                    </mat-option>
                     <mat-option *ngFor="let temtem of temtems" value="{{temtem.number}}" class="opcion" (click)="showBtn()" >
                       <span class="inline-block w-[140px]"> {{temtem.name}} </span> <img src="{{temtem.portraitWikiUrl}}" alt="" class="inline-block float-right">
                    </mat-option>
                </mat-select>
                <button type="submit" id="searchBtn" class="bg-slate-300 p-2 rounded-e-xl my-auto h-11 shadow-md">Go!</button>
            </form>
        </div>

        <div  class="mt-16 flex flex-col-reverse">
            <div id="temtemDiv"  #placeToRender >

            </div>
        </div>
    </main>
</section>